# coding: utf-8

SETTINGS = {
    'parameters': ('a', 's',)
}

GITHUB_APP_INFO = dict(
    client_id='',
    client_secret=''
)

MEMCACHE_EXPIRATION = 60 * 60 * 24  # 1 day in seconds
RECENT_DAYS = 7

MAX_COMMITS_PER_BRANCH = 200
