<!doctype html>
<html>
<head>
    <title>File Not Found</title>
    <meta content="text/html; charset=UTF-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            }

        body {
            background-color: #f6f6f6;
            font: normal 14px arial, sans-serif;
            }

        #container {
            background-color: #fff;
            border-bottom: 2px #ccc solid;
            margin: 0 auto;
            padding: 50px 25px;
            width: 500px;
            w\idth: 450px;
            }

        #container h1 {
            margin-bottom: 15px;
            }
    </style>
</head>
<body>
<div id="container">
    <h1>404</h1>

    <p>This is not the web page you are looking for.</p>
    <!-- https://github.com/404 -->
</div>
</body>
</html>
