<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ user.login }}'s GitHub Badge</title>
        <link rel="stylesheet" href="/css/widget_v2.css" media="screen">
        {% if analytics %}
        <script>
            var _gaq = [['_setAccount', 'UA-24860434-1'], ['_trackPageview']];
            (function(d, t) {
                var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
                g.async = g.src = '//www.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g, s);
            }(document, 'script'));
        </script>
        {% endif %}
    </head>
    <body>
        <div class="clear">
            <div id="user-login">
                <h1><a href="{{ user.html_url }}" target="_parent" title="{{ user.name }}">{{ user.login }}</a></h1>
                <h2>Worked on 
                    <a href="{{ user.html_url }}/{{ last_project }}"
                       target="_parent" title="{{ last_project }}">{{ last_project|truncatechars:10 }}</a>
                    recently
                </h2>
            </div>
            <div id="user-content">
                <div id="user-avatar">
                    <a href="{{ user.html_url }}" target="_parent"><img alt="{{ user.login }}" class="avatar" src="{{ user.avatar_url }}"></a>
                    <br><img alt="Commit graph" src="{{ commit_sparkline }}">
                </div>
                <div id="user-info">
                    <p>{{ top_languages }}{% if other_languages %}<span title="{{ other_languages }}">&hellip;</span>{% endif %}</p>
                    <ul class="clear" id="list-user-info">
                        <li>
                            <strong>{{ own_repos }}</strong>
                            <span>repos</span>
                        </li>
                        <li>
                            <strong>{{ fork_repos }}</strong>
                            <span>forks</span>
                        </li>
                        <li>
                            <strong>{{ user.followers|shortnum }}</strong>
                            <span><abbr title="followers">flrws</abbr></span>
                        </li>
                        <li class="last">
                            <strong>{{ project_followers|shortnum }}</strong>
                            <span><abbr title="repo followers">rflws</abbr></span>
                        </li>
                    </ul>
                </div>
            </div>
            <footer>
                Generated 
                {% if support %}by <a href="/" target="_parent">GHBadge</a> {% endif %}
                on {% now "Y-m-d" %}
            </footer>
        </div>
    </body>
</html>