<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>GitHub Badge</title>
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="shortcut icon" href="https://github.com/favicon.ico" />
		<link rel="stylesheet" href="/css/screen.css" media="screen">
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nunito">
		<script>
			var _gaq = [['_setAccount', 'UA-24860434-1'], ['_trackPageview']];
			(function(d, t) {
				var g = d.createElement(t),
				    s = d.getElementsByTagName(t)[0];
				g.async = g.src = '//www.google-analytics.com/ga.js';
				s.parentNode.insertBefore(g, s);
			}(document, 'script'));
		</script>
	</head>
	<body>
		<div id="fork-me">
			<a href="https://github.com/berkerpeksag/github-badge" title="Fork me on GitHub">
			<img alt="Fork me on GitHub" src="/image/icon-fork-me.png">
			</a>
		</div>
		<div id="container">
			<div id="octocat">
				<div id="octocat-logo">
					&nbsp;
				</div>
				<h1>Get your <span>GitHub</span> badge now!</h1>
				<div id="preview">
					<h3>Preview</h3>
					<iframe id="previewFrame" src="/badge/mojombo" style="border: 0; height: 150px; width: 200px; overflow: hidden"></iframe>
				</div>
			</div>
			<div id="form">
				<div id="form-container">
					<input autocomplete="off" id="username" name="username" placeholder="Your GitHub username">
				</div>
			</div>
	    <input id="code">
			<div id="about">
				<h2>About</h2>
				<p>
					GitHub badge is a simple embeddable badge showing your GitHub stats like the number of public repositories,
					number of followers, favorite languages etc. It runs on Google App Engine with a memcached backup at here.
					If you like this and use it too much, we may exceed our quota.
				</p>
			</div>
			<div id="footer">
				<p>
					Brought to you by <a href="https://github.com/berkerpeksag" title="Berker Peksağ">Berker Peksağ</a>
					(@<a href="http://twitter.com/berkerpeksag" title="berkerpeksag">berkerpeksag</a>) and <a href="https://github.com/BYK" title="Burak Yiğit Kaya">Burak Yiğit Kaya</a>
					(@<a href="http://twitter.com/madbyk" rel="external" title="madbyk">madbyk</a>)
				</p>
			</div>
		</div>
		<script src="/js/spin.min.js"></script>
		<script>
			(function() {
				var gId = function(id) { return document.getElementById(id); },
				usernameInput = gId('username'),
				previewFrame = gId('previewFrame'),
				codeArea = gId('code'),
				lastUser = 'mojombo',
				loc = document.location,
				urlTemplate = [loc.protocol, '', loc.host, 'badge/:user'].join('/'),
				codeTemplate = '<iframe src=":url" style="border: 0; height: 150px; width: 200px; overflow: hidden"></iframe>',
                spinOpts = {
                  lines: 16, // The number of lines to draw
                  length: 5, // The length of each line
                  width: 3, // The line thickness
                  radius: 6, // The radius of the inner circle
                  color: '#000', // #rgb or #rrggbb
                  speed: 1.2, // Rounds per second
                  trail: 26, // Afterglow percentage
                  shadow: true // Whether to render a shadow
                },
                previewArea = gId('preview'),
                spinner;

				var updateEverything = function updateEverything() {
					var url = urlTemplate.replace(':user', encodeURI(usernameInput.value));
					previewFrame.onload = function(){spinner && spinner.stop()};
					previewFrame.setAttribute('src', url);
					spinner = new Spinner(spinOpts).spin(previewArea)
					codeArea.value = codeTemplate.replace(':url', url);
					codeArea.style.display = 'block';
					lastUser = usernameInput.value;
				};
				var keyupHandler = function keyupHandler(){
					if (keyupHandler.timer)
						window.clearTimeout(keyupHandler.timer);
					if (usernameInput.value.length && usernameInput.value != lastUser)
						keyupHandler.timer = window.setTimeout(updateEverything, 1000);
				};
				usernameInput.onkeyup = keyupHandler;
				codeArea.onclick = function(){codeArea.focus();codeArea.select()};
			})();
		</script>
	</body>
</html>