<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GitHub Badge</title>
    <link rel="shortcut icon" href="/image/favicon.png">
    <link rel="stylesheet" href="/css/screen.css" media="screen">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Nunito">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script>
        var _gaq = [
            ['_setAccount', 'UA-24860434-1'],
            ['_trackPageview']
        ];
        (function (d, t) {
            var g = d.createElement(t),
                    s = d.getElementsByTagName(t)[0];
            g.async = g.src = '//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s);
        }(document, 'script'));
    </script>
</head>
<body>
<div id="fork-me">
    <a href="https://github.com/berkerpeksag/github-badge"
       title="Fork me on GitHub">
        <img alt="Fork me on GitHub" src="/image/icon-fork-me.png">
    </a>
</div>
<div id="container">
    <div id="octocat">
        <div id="octocat-logo">
            &nbsp;
        </div>
        <h1>Get your <span>GitHub</span> badge now!</h1>

        <div id="preview">
            <h3>Preview</h3>
            <iframe id="previewFrame" src="/badge/mojombo"
                    style="border: 0; height: 142px; width: 200px; overflow: hidden;" frameBorder="0"></iframe>
        </div>
    </div>
    <div id="form">
        <div id="form-container">
            <div class="clear top">
                <input type="text" autocomplete="off" id="username"
                       name="username"
                       placeholder="Your GitHub username">
            </div>
            <div id="form-left-column">
                <div>
                    <input type="checkbox" id="support" name="s">
                    <label for="support">Support GitHub Badge</label>
                </div>
                <div>
                    <input type="checkbox" id="analytics" name="a">
                    <label for="analytics">Disable Google Analytics on badge</label>
                </div>
            </div>
            <div id="form-right-column">
                <div id="tweet">
                    <a href="https://twitter.com/share" class="twitter-share-button"
                       data-count="none" data-text="I just got my @github badge with a cool commit graph from"
                       data-url="http://githubbadge.appspot.com/" data-hashtags="ghbadge">Tweet</a>
                </div>
                <input type="checkbox" id="hackers">
                <label for="hackers">All your JSON-API belong to us!</label>
                <div id="api-samples">
                    See examples for <a href="http://jsfiddle.net/yvzSL/">JSONP</a> or
                    for <a href="http://jsfiddle.net/Bc67u/">CORS</a>.
                </div>
            </div>
        </div>
    </div>
    <input id="code">

    <section id="site-info">
        <div id="about">
            <h2>About</h2>
            <p>
                GitHub badge is a simple embeddable badge showing your GitHub
                stats like the number of public repositories, number of
                followers, favorite languages etc. It runs on Google App Engine
                with a day-long Memcached backup.
            </p>
            <p>
                Do you have an idea of a missing feature or have you found a bug? Please
                <a href="https://github.com/berkerpeksag/github-badge/issues">report</a>!
            </p>
            <p>
                Check our
                <a href="https://github.com/berkerpeksag/github-badge/issues?sort=updated&direction=desc&state=closed&page=1">changelog</a>
                if you wonder what we worked on recently.
            </p>
        </div>
    </section>

    <div id="footer">
        <p>
            Brought to you by <a href="https://github.com/berkerpeksag"
                                 title="Berker Peksag">Berker Peksag</a>
            (@<a href="http://twitter.com/berkerpeksag" title="berkerpeksag">berkerpeksag</a>)
            and <a href="https://github.com/BYK" title="Burak Yiğit Kaya">Burak
            Yiğit Kaya</a>
            (@<a href="http://twitter.com/madbyk" title="madbyk">madbyk</a>)
        </p>
    </div>
</div>
<script src="/js/spin.min.js"></script>
<script>
    (function () {
        var gId = function (id) { return document.getElementById(id); },
                usernameInput = gId('username'),
                supportCheck = gId('support'),
                analyticsCheck = gId('analytics'),
                hackersCheck = gId('hackers'),
                previewFrame = gId('previewFrame'),
                codeArea = gId('code'),
                lastUser = 'mojombo',
                loc = document.location,
                urlTemplate = [loc.protocol, '', loc.host, 'badge/:user'].join('/'),
                codeTemplate = '<iframe src=":url" style="border: 0; height: 142px; width: 200px; overflow: hidden;" frameBorder="0"></iframe>',
                previewArea = gId('preview'),
                spinNewLink = gId('spin-new'),
                spinner;

        var updateEverything = function updateEverything() {
            var username = usernameInput.value;
            if (!username) return;

            var url = urlTemplate.replace(':user', encodeURI(username)),
                    options = [];

            if (!hackersCheck.checked) {
                if (supportCheck.checked) options.push('s=1');
                if (analyticsCheck.checked) options.push('a=0');
                if (options.length) url += '?' + options.join('&');
            }

            if (!spinner)
                spinner = new Spinner();
            spinner.spin(previewArea);

            previewFrame.onload = function () {spinner && spinner.stop()};
            previewFrame.setAttribute('src', url);
            
            codeArea.value = hackersCheck.checked ?
                                url : codeTemplate.replace(':url', url);
            codeArea.style.display = 'block';
            lastUser = usernameInput.value;
        };
        var keyupHandler = function keyupHandler() {
            if (keyupHandler.timer)
                window.clearTimeout(keyupHandler.timer);
            if (usernameInput.value.length && usernameInput.value != lastUser)
                keyupHandler.timer = window.setTimeout(updateEverything, 500);
        };
        usernameInput.onkeyup = keyupHandler;
        supportCheck.onchange = analyticsCheck.onchange = hackersCheck.onchange = updateEverything;

        codeArea.onclick = function () {
            codeArea.focus();
            codeArea.select()
        };
        spinNewLink.onclick = function () {
            // A delay is necessary
            window.setTimeout(function () { usernameInput.focus(); }, 10);
        };
    })();
</script>
<script src="//platform.twitter.com/widgets.js"></script>
</body>
</html>
