<!doctype html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title>{{ user.login }}'s GitHub Badge</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/ico">
		<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="/css/widget.css" type="text/css" media="screen">
	</head>
    <body>
        <div class="clear">        
            <div id="user-avatar">
                <a href="{{ user.html_url }}"><img alt="{{ user.login }}" src="{{ user.avatar_url }}"></a>
            </div>
            <div id="user-info">
                <p><a class="user-login" href="{{ user.html_url }}" title="{{ user.name }}">{{ user.login }}</a></p>
                <p style="padding-top: 4px;"><a href="{{ user.blog }}" title="{{ user.login }}'s blog"><img src="/image/icon-feed.png"></a></p>
                <p><strong>Public repos:</strong> {{ user.public_repos }}</p>
                <p><strong>Followers:</strong> {{ user.followers }}</p>
            </div>
        </div>
    </body>
</html>
